* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
  }

  .Body{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(8, 1fr);
  }

  .header {
    grid-column-start: span 3;
    grid-row: 3;
  } 
   
  nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
  }

  #Hero {
    display: grid;
    grid-template-areas:
    "header img"
    "quote img"
    "learn img";
    gap: 5px;
    background: #77F893;

  }

  #Hero > div {
    padding: 10px;
  }

  #Hero > div#Heading {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items:flex-end;
  }

  #Hero > div#Quote {
    grid-area: quote;
    display: flex;
    justify-content: center;
    align-items:flex-end;
  }
  
  #Hero > div#Learn {
    grid-area: learn;
    display: flex;
    justify-content: center;
  }

  #Hero > div#HeroIMG {
    grid-area: img;
  }
  
  #section2 {
    grid-row: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

.footer{
  grid-row: 8;
  background-color: #7AFCB4;
}