* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
  html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
  }

  .Body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(8, 1fr);
  }

  .header {
    height: 18vh;
    display: flex;
    grid-row: 1;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    align-items: center;
  } 

  #logo{
    justify-content: left;
    grid-column-start: 1;
    grid-column-end: 1;
    img{
      width: 150px;
      height: 150px;
    }  
  }

  #NavButtons{
    /* column-width: 200vh; */
    /* padding-left: 44vh;  */
    /* white-space: nowrap;  */
    display: flex;
    gap: 20px;
    button{
      border: none;
      padding: 14px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 8px;
      margin-right: 10px;
      font-size: 16px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    button:hover {
      background-color: #aaffbd;
    }
    #Home{
      background-color: #2BB549;
    }
    #Home:hover {
      background-color: #aaffbd;;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
  }


  #Hero {
    height: 80vh;
    grid-row: 2;
    display: grid;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-areas:
    "header img";
    gap: 5px;
    background: #77F893;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(82, 170, 101, 1));
  }

  #Hero > div#HeroIMG {
      grid-area: img;
      display: flex;
      justify-content: center;
      align-items: center;
    img {
        width: 900px;
      }

    }
  
  #Hero > div {
    padding: 10px;
  }

  #Hero > div#Heading {
    font-size: 30px;
    text-align: left;
    grid-area: header;
    display: flex;
    justify-content: center;
    padding-left: 20%;
    flex-direction: column;
  }
  
  #Hero > div#Lern {
    grid-area: learn;
    display: flex;
    justify-content: center;
    text-align: left;

  }

  #Lern {
    border-radius: 100px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Inknut Antiqua";
    font-size: 20px;
    cursor: pointer;
    background-image: rgb(rgb(255, 255, 255));
    white-space: nowrap;
    margin: 0;
    border: 0;
  }

  #Lern:hover {
    background-color: #2BB549;
    color: #fff;
    
  }

  #top {
    height: 10px;
    background-color: rgba(164, 167, 174, 0.7);
    padding: 0%;
    border: 0;
  }

  #bottom {
    height: 22px;
    background-color: rgba(64, 133, 79, 0.9);
    padding: 0%;
    border: 0;
  }

  #head {
    font-size: 34px;
    padding: 4%;
  }

  #SystemTable {
    padding: 4%;
    padding-top: 0;
    img {
      height: 400px;
    }
    h1{
      padding: 2%;
      padding-left: 0;
      text-align: left;
    }
    p{
      text-align: left;
      font-size: 140%;
    }
  }




  #mainJourney {
    grid-template-columns: 1fr 3fr;
    background-color: #2196F3;
    padding: 50px; 
    grid-row: 2;
    display: grid;
    grid-template-areas:
    "Heading Heading image"
    "line link image"
    "button button image";
    gap: 5px;
    background: #ffffff;
  }

  #mainJourney > div {
    padding: 10px;
  }
  
  #mainJourney > div#Heading {
    grid-area: Heading;
    font-size: 170%;
    padding-left: 10%;
  } 

  #mainJourney > div#line {
      grid-area: line;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  #mainJourney > div#link {
    grid-area: link;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 260%;
  }
  #mainJourney > div#link > a {
    text-decoration: none;
    color:#2BB549;
    text-shadow: #27923e 3px 2px 5px;
  }

  #mainJourney > div#button {
    grid-area: button;
    padding-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    
  }
  #UserButton {
    font-size: 160%;
    border: 0;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  #UserButton:hover {
    background-color: #2BB549;
    color: #fff;
    
  }

  #mainJourney > div#image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#journey{
  grid-row: 4;
  background-color: #ffffff;

}
#guide{
  grid-row: 5;

  background-color: #FFF;

  table{
    
    width: 100%;
    background-image: linear-gradient(to right, rgb(65, 199, 116), white);
    #Name {
      padding: 0;
      width: 0vw;
    }
    img {
      height: 400px;
      padding: 4%;
    }
    #User{
      color: #203b2c;
      height: 10vh;
      font-size: 130%;
      padding: 0;
      padding-left: 10%;
      padding-top: 4%;
      justify-content: left;
      align-items: left;
    }
    #link{
      font-size: 130%;
      padding-left: 10%;
      justify-content: left;
      button {
        font-size: 160%;
        border: 0;
        padding: 3%;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 5px;
        background-color: black;
        color: white;
        cursor: pointer;
      }

      Button:hover {
      background-color: #2BB549;
      color: #fff;
      }
    }
  }
}
#reviews{
  grid-row: 6;
  background-image: linear-gradient(to right,#79FCB4 40%,#37654C 100%);
  h1 {
    font-size: 44px;
  }
  #reviewHead {
    height: 45vh;
    padding: 4%;

  }
  #inline1 {
    width: 26%;
    height: 20vh;
    background-color: aliceblue;
    display: inline-block;

    margin: 10px;
    padding: 3%;
    border-radius: 10px;
    table {
      width: 100%;
      tr {
        padding: 2%;
      }
    }
  }
}


#download{
  font-size: 24px;
  grid-row: 7;
  grid-template-areas: 
  "text b1 b2";
  display: grid;
  background-color: #ffffff;
  height: 24vh;
  
}
#download > div#text {
  grid-area: text;
  width: 50vw;
}
div#text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  padding-left: 10%;
}

#download > div#b1 {
  grid-area: b1;
}
#download > div#b1 > #downloadbutton {
  grid-area: b1;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 0;
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
}
#download > div#b2 {
  grid-area: b2;
  padding-left: 30%;
}
#download > div#b2 > #learnbutton{
  grid-area: b2;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 0;
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
}


#footer{
  height: 27vh;
  grid-row: 8;
  background-image: linear-gradient(to right,#79FCB4 50%,#FFF1F1 100%);
}

#b1{
  padding-top: 8.5vh;
  padding-left: 20vh;
}
#b2{
  padding-top: 8.5vh;
  padding-right: 30vh;
}
#downloadbutton{
  align-self: auto;
  height: 7.6vh;
  width: 27.6vh;
  padding-left:32 ;
  padding-right: 32;
  padding-top: 20;
  padding-bottom: 20;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: #ffffff;
}


#learnbutton{
  height: 7.6vh;
  width: 19.5vh;
  border: none;
}
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 480px) {
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

.Body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(8, 1fr);
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row: 1;
    justify-content: center;
  align-items:flex-end;
  flex-direction: column; */
  } 
#logo{
grid-column-start: 1;
grid-column-end: 1;
img{
  width: 100px;
  height: 100px;
}  


}
#NavButtons{
  grid-column-start: 2;
  grid-column-end: 2;
  padding-left:10px ; 
  padding-top:50px ; 
  white-space: nowrap;
}
nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  button{
    padding-top: ;
    border: none;
  }
}

#home{
  background-color: #2BB549;
}





#Hero {
  height: ;
  grid-row: 2;
  display: grid;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-template-areas:
  "header img";
  gap: 5px;
  background: #77F893;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(82, 170, 101, 1));
}

#HeroIMG{
img{
  width: 280px;
  background-color: ;
}
}
#Hero > div#HeroIMG {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;

  }

#Hero > div {
  padding: 10px;
}

#Hero > div#Heading {
  font-size: 12px;
  text-align: left;
  grid-area: header;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  flex-direction: column;
}

#Hero > div#Lern {
  grid-area: learn;
  display: flex;
  justify-content: center;
  text-align: left;

}

#Lern {
  border-radius: 100px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Inknut Antiqua";
  font-size: 10px;
  cursor: pointer;
  background-image: rgb(rgb(255, 255, 255));
  white-space: nowrap;
  margin: 0;
  border: 0;
}

#Lern:hover {
  background-color: #2BB549;
  color: #fff;
  
}

#top {
  height: 10px;
  background-color: rgba(164, 167, 174, 0.7);
  padding: 0%;
  border: 0;
}

#bottom {
  height: 22px;
  background-color: rgba(64, 133, 79, 0.9);
  padding: 0%;
  border: 0;
}

#mainJourney {
  grid-template-columns: 1fr 3fr;
  background-color: #2196F3;
  padding: 25px; 
  grid-row: 2;
  display: grid;
  grid-template-areas:
  "Heading Heading image"
  "line link image"
  "button button image";
  gap: 5px;
  background: #ffffff;
}

#mainJourney > div {
  padding: 10px;
}

#mainJourney > div#Heading {
  grid-area: Heading;
  font-size: 170%;
  text-align: bottom;
  display: flex;
  justify-content: center;
  
} 

#mainJourney > div#line {
    grid-area: line;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#mainJourney > div#link {
  grid-area: link;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 260%;
}
#mainJourney > div#link > a {
  text-decoration: none;
  color:#2BB549;
  text-shadow: #27923e 3px 2px 5px;
}

#mainJourney > div#button {
  grid-area: button;
  padding-left: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  
}
#UserButton {
  font-size: 160%;
  border: 0;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#UserButton:hover {
  background-color: #2BB549;
  color: #fff;
  
}

#mainJourney > div#image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}



#System{
height: ;
grid-row: 3;  
background-color: #ffffff;
}
#journey{
grid-row: 4;
background-color: #ffffff;

}
#guide{
grid-row: 5;
background-color: #7AFCB4;
height: ;
background-color: #FFF;
}
#reviews{
grid-row: 6;
background-image: linear-gradient(to right,#79FCB4 40%,#37654C 100%);
height: ;
}
#download{
align-items: center;
grid-row: 7;
grid-template-areas: 
"text b1 b2";
display: grid;
background-color: #ffffff;
height:200px ;
button{
  white-space: nowrap;

}

}
#download > div#text {
grid-area: text;
}
div#text {
display: flex;
justify-content: center;
align-items: center;
font-size: 100%;
padding-left: 10%;
}

#download > div#b1 {
grid-area: b1;
}
#download > div#b1 > #b11 {
grid-area: b1;
display: flex;
justify-content: right; 
align-items: center;
border: 0;
border-radius: 5px;
padding: 3px;
}
#download > div#b2 {
grid-area: b2;
}


#footer{
height: ;
grid-row: 8;
background-image: linear-gradient(to right,#79FCB4 50%,#FFF1F1 100%);
}

#b1{
padding-top: 40px;

}
#b2{
padding-left: 10px;
padding-top: 40px;


}
#downloadbutton{
align-self: auto;
height:5.6svb;
width: 20vh;
padding-left:32 ;
padding-right: 32;
padding-top: 20;
padding-bottom: 20;
border-radius: 8px;
border: none;
background-color: #000000;
color: #ffffff;
}

#text{
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  h1{
    font-size: 30px;
  }
}
#learnbutton{
height: 5.6svb;;
padding:  ;
border: none;
border-radius: 8px;
}
}

